._*
.DS_Store
.ipynb_checkpoints
__pycache__
*/._*
*/.DS_Store
*.pyc
*.root
*.pdf
*.png
__init__.py
L1TauMinatorEmulator/utilities/*/
L1TauMinatorSoftware/TauMinator/old
L1TauMinatorSoftware/TauMinator_hls4ml/*/
data/